
/*********************************
            Header
*********************************/
. {
    margin: 0;
}

header {
    position: fixed;
    background-color: royalblue;
    top: 0;
    left: 0;
    width: 100%;
    height: 4.2em;
    font-family: Verdana, Tahoma, sans-serif;
    text-shadow: 1px 1px 1px darkblue;
}
nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    list-style-type: none;
    width: 16%;
    text-align: center;
}
nav ul li a {
    color: snow;
    text-decoration: none;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    padding: 25px 30px;
    font-size: 1.5em;
}
#logoimg {
    width: 80px;
    height: 80px;
    margin-top: -10px;
    z-index: 1;
}

/*********************************
            index page
*********************************/
div#big-pic {
    background-image: url("") 
}






































































































/*MB 101-200*/
h2 {
    font-size: 2em;
}
#mainBody {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-column-gap: 1em;
}
#mainBody:nth-child(0) {
    grid-column: 1/2;
    grid-row: 1/2;
}
#mainBody:nth-child(1) {
    grid-column: 2/3;
    grid-row: 1/2;
}
#mainBody:nth-child(2) {
    grid-column: 1/2;
    grid-row: 2/3;
}
#mainBody:nth-child(3) {
    grid-column: 2/3;
    grid-row: 2/3;
}
























.meetTeam {
    margin-left: auto;
    margin-right: auto;
    font-family: 'Indie Flower', cursive, 'Trebuchet MS';
    width: 525px;
    background-color: rgb(231, 250, 243);
    color: rgba(57, 116, 243, 0.685);
    border-bottom: 5px solid rgb(133, 219, 183);
    border-radius: 40px;
    box-shadow: 2px 2px 5px rgb(65, 105, 225);
    padding: 2px;
    text-shadow: 2px 2px 5px rgb(133, 219, 183);
    font-size: 4em;
    text-align: center;
}

#products {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.card {
    background: rgb(65, 105, 225);
    height: 400px;
    width: 30%;
    margin: 10px;
    border: solid rgb(58, 64, 75);
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgb(27, 0, 97);
}

.card-container {
    display: flex;
    flex-wrap: nowrap;
}

.employee {
    
    background: rgb(231, 250, 243);
    height: 425px;
    width: 30%;
    padding: 5px;
    margin: 10px;
    border: 1.5px solid rgb(133, 219, 205);
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgb(65, 105, 225);
    text-align: center;
    font-family: 'Indie Flower', cursive, 'Trebuchet MS';
    color: rgba(57, 116, 243, 0.685);
}

.empName {
    background-color: rgb(249, 255, 253);
    font-size: 40px;
    margin: .25em;
    border-bottom: 1px solid rgb(133, 219, 183);
    border-right: 1px solid rgb(133, 219, 183);
    border-radius: 25px;
    box-shadow: 1px 1px 2px rgb(65, 105, 225);
}

.empTitle {
    font-size: 25px;
    border-bottom: 1px solid rgb(133, 219, 183);
    border-top: 1px solid rgb(133, 219, 183);
}

